.sidebar{
    width: 15vw;
    background-color: white;
    height: 100vh;
    padding: 20px;
}

.sidebar nav ul{
    list-style-type: none;
}

.sidebar nav ul li{
    height: 40px;
}

.sidebar nav ul li a{
    text-decoration: none;
}
.sidebar img{
    width: 220px;
}